{% extends 'base.html' %}  <!-- pour utiliser le modèle parent : base-->

<!-- remplace le titre orginal qui était dans base-->
{% block title %} UCL Draw {% endblock %}

{% block content %}
    <h1>Test de création d'un formulaire:</h1>
    <p>Texte avant le formulaire</p>
    <form method="POST" action="/proba">
    <p>
        <input type = "string" name="team1" placeholder="Team 1">
        <input type = "string" name="team2" placeholder="Team 2">
        <button type="submit">Calculer</button>
    </p>
</form>
    <p>Proba correspondante : {{ result }}</p>

{% endblock %}


