{% extends 'base.html' %}  <!-- pour utiliser le modèle parent : base-->

<!-- remplace le titre orginal qui était dans base-->
{% block title %} EL Conf Draw {% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style_table.css') }}">
    <h1 id = "mon-titre">Test des boutons d'équipes</h1>
    <div id="table-container">  <!-- section qui contient les deux tableaux-->
        <table id="match-table"></table>
        <table id="proba-table"></table>  <!-- On crée le tableau avec les probas dans main.js-->
    </div>
    <!-- tentative de création d'un tableau pour tout afficher-->
    <!-- _____________ -->
    <div id = "bouton-container">
        <button id="undo">Undo</button>
    </div>
    <!-- ____________ -->
    <footer id="footer">
       <p>Developped by Akram, Bilel, Flavien and Yohann</p>
   </footer>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}


